body {
  height: 100vh;
}
.main_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.links {
  display: flex;
  justify-content: center;
  color: rgb(5, 13, 39);
  margin: 15px 0 0 0;
}
.box {
  width: 500px;
  height: 250px;
  background-color: aquamarine;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link a {
  text-decoration: none;
  color: rgb(13, 51, 167);
  padding: 15px;
  margin: 20px;
}
