body {
  background-color: #333;
  margin: 0 auto;
}
/* Navbar */
#navbar {
  background-color: rgb(107, 5, 99);
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* Main  Container */
#main-container {
  background-color: rgb(172, 165, 171);
  height: 250px;
  margin: 15px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.boxes {
  background-color: rgb(19, 207, 135);
  height: 200px;
  width: calc((100% / 3) - 20px);
  float: left;
  margin: 15px;
}
.third {
  background-color: rgb(191, 197, 193);
  height: 200px;
  margin: 15px;
  border: 10px solid rgb(211, 28, 22);
}
.innerdiv {
  background-color: rgb(191, 197, 193);
  height: 197px;
  border: 2px solid rgb(12, 155, 67);
}
.m-r {
  margin-right: 15px;
  padding: 10px;
  text-align: justify;
  align-self: center;
  overflow: hidden;
}
.left {
  float: left;
  display: flex;
  align-self: center;
  text-decoration: none;
}
.right {
  float: right;
  display: flex;
  align-self: center;
  text-decoration: none;
}
.right a {
  padding: 10px;
}
.left img {
  width: 40px;
  height: 60px;
  margin-right: 10px;
}
.left h2 {
  display: inline;
  color: #fff;
}
.right a {
  color: #fff;
  text-decoration: none;
}
