body {
  margin: 0%;
  width: 100%;
  font-family: sans-serif;
}
/* Navbar */
nav {
  background-color: white;
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  border-bottom: 2px solid rgb(163, 163, 163);
}
#logo-container,
#profile-container {
  align-items: center;
  padding: 0 26px;
  display: flex;
}
#logo-container img {
  height: 50px;
}
#profile-container img {
  height: 50px;
  border-radius: 50%;
  float: right;
}
h2 {
  padding-left: 5px;
}
.student-data {
  text-decoration: underline;
}
/* Main */
#container {
  height: 100vh;
  width: 100%;
  display: flex;
}
/* Sidebar */
ul {
  list-style-type: none;
  padding-left: 8px;
}
#side-container {
  width: 15%;
  height: 100vh;
  border-right: 2px solid rgb(173, 169, 169);
  padding: 10px;
  display: flex;
}
li {
  padding: 10px 0;
}
li img {
  height: 25px;
  margin-right: 15px;
}
h4,
th {
  color: rgb(87, 87, 87);
}
h4 {
  font-weight: 100;
}
/* Student Data */
#main-container {
  width: calc(100% - 12%);
  height: 100vh;
}
.main-header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
span {
  text-decoration: underline;
}
a {
  background-color: rgb(81, 180, 142);
  color: white;
  text-decoration: none;
  padding: 5px;
}
th,
td,
table {
  border: 1px solid rgb(173, 169, 169);
  border-collapse: collapse;
}
th,
td {
  text-align: start;
  padding: 20px;
}
table {
  width: 100%;
}
.student-table {
  padding: 0 25px;
}
.flex {
  display: flex;
  align-items: center;
}
/* Media Query for different Responsive Size */
@media screen and (max-width: 1200px) {
  #side-container {
    padding: 0px;
    width: 16%;
  }
  li {
    padding-left: 0px;
    padding-right: 5px;
  }
  .student-table {
    width: calc(100% - 12%);
    display: flex;
    overflow: auto;
  }
}
@media screen and (max-width: 576px) {
  #side-container {
    display: none;
  }
  li {
    padding-right: 5px;
  }
  #main-container {
    width: 100%;
  }
  .main-header {
    padding-right: 8px;
  }
  #logo-container {
    width: 80%;
  }
  #logo-container,
  #profile-container {
    padding: 0 5px;
  }
}
