body {
  background-color: whitesmoke;
  margin: 0 auto;
  font-family: sans-serif;
}
#navbar {
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
#logo-container {
  width: 200px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin-left: 20px;
}
#logo-container img {
  height: 60px;
  margin-right: 10px;
}
#logo-container h2 {
  display: inline-block;
  color: black;
}
#profile-container {
  width: auto;
  float: right;
  margin-right: 20px;
}
#profile-container img {
  height: 60px;
  border-radius: 50%;
}
.main {
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: whitesmoke;
  height: 100%;
  width: 150px;
  float: left;
  border-right: 1px solid black;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 30px 30px;
}
#sidebar nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
}
#container {
  padding: 10px;
  float: left;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  padding-top: 35px;
}
span {
  text-decoration: underline;
}
.add-student {
  text-decoration: none;
  background-color: rgb(59, 185, 137);
  padding: 5px;
  color: #fff;
}
#student-table {
  overflow: auto;
}
table,
td,
th {
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  #sidebar {
    width: 26%;
  }
  #sidebar nav {
    padding: 0%;
    margin-top: 5px;
  }
  #container {
    width: calc(100vw - 160px);
  }
  table {
    width: 70%;
  }
  .header {
    padding: 0%;
  }
}
