body {
  background-color: whitesmoke;
  margin: 0 auto;
  font-family: sans-serif;
}
#navbar {
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
#logo-container {
  width: 200px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin-left: 20px;
}
#logo-container img {
  height: 60px;
  margin-right: 10px;
}
#logo-container h2 {
  display: inline-block;
  color: black;
}
#profile-container {
  width: auto;
  float: right;
  margin-right: 20px;
}
#profile-container img {
  height: 60px;
  border-radius: 50%;
}
.main {
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: whitesmoke;
  height: 100%;
  width: 150px;
  float: left;
  border-right: 1px solid black;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 30px 30px;
}
#sidebar nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
}
#container {
  padding: 10px;
  float: left;
  width: calc(100vw - 200px);
}
#student-data {
  background-color: whitesmoke;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#table-data > h3 {
  color: black;
  margin: 0;
  text-decoration: underline;
}
.box {
  width: 170px;
  height: 35px;
  padding: 10px;
  background-color: rgb(19, 228, 200);
}
#link {
  display: flex;
  justify-content: center;
}
#link a {
  align-content: center;
  text-decoration: none;
  color: white;
  font-size: x-large;
  transition: 0.5s;
}
a:hover {
  color: black;
  transition: 0.3s;
}
table,
td,
th {
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
  margin-top: 10px;
}
form {
  margin: 15px;
}
