body {
  font-family: sans-serif;
  margin: 0%;
}
/* Navbar */
nav {
  height: 75px;
  border-bottom: 2px solid rgb(194, 191, 191);
  display: flex;
  justify-content: space-between;
}
#profile-container,
#logo-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
#profile-container img {
  margin: 15px;
  height: 50px;
  float: right;
  border-radius: 50%;
}
#logo-container img {
  height: 50px;
}
h2 {
  padding-left: 10px;
}
/* Main */
#container {
  display: flex;
}
#sidebar {
  width: 10%;
  height: 100vh;
  border-right: 2px solid rgb(194, 191, 191);
  padding: 10px;
  display: flex;
}
ul {
  list-style-type: none;
  padding-left: 20px;
}
li {
  padding: 10px;
}
h4 {
  font-weight: 100;
}
/* Main */
#main-container {
  width: calc(100% - 11%);
  height: 100vh;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  padding-top: 35px;
}
.table-header {
  text-decoration: underline;
}
span {
  text-decoration: underline;
}
a {
  color: white;
  text-decoration: none;
  background-color: rgb(59, 185, 137);
  padding: 5px;
}
/* Table Data */
th,
td,
table {
  border: 1px solid rgb(119, 116, 116);
  border-collapse: collapse;
}
th,
td {
  text-align: start;
  padding: 15px;
}
table {
  width: 100%;
}
.student-data {
  overflow: auto;
  padding: 0 25px;
}
/* Screen size for tab */
@media only screen and (max-width: 900px) and (min-width: 651px) {
  #sidebar {
    padding: 0px;
    width: 25%;
  }
  #main-container {
    width: 75%;
  }
}
/* Screen size for phone */
@media screen and (max-width: 650px) {
  #sidebar {
    display: none;
  }
  li {
    padding-right: 5px;
  }
  #main-container {
    width: 100%;
  }
  .header {
    padding-right: 8px;
  }
  #logo-container {
    width: 80%;
  }
  #logo-container,
  #profile-container {
    padding: 5px;
  }
}
