body {
    margin: 0 auto;
    background-color: #ececec;
    font-family: sans-serif;
  }
  /* Navigation bar */
  nav {
    height: 75px;
    background-color: #625c5c;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .navbar-profile {
    align-self: center;
  }
  .profile {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    align-self: center;
  }
  .navbar-logo {
    float: left;
    display: flex;
    align-self: center;
  }
  h1 {
    margin-left: 10px;
    color: white;
    font-size: 32px;
    font-weight: 100;
  }
  .logo {
    align-self: center;
    height: 50px;
    width: 40px;
  }
  /* Side bar */
  .side-bar {
    margin-top: 1px;
    height: 730px;
    width: 15%;
    background-color: #625c5c;
    padding-top: 20px;
  }
  li {
    padding-left: 30px;
    padding-bottom: 20px;
  }
  ul {
    padding: 0;
  }
  a {
    color: white;
  }
  .heading-green {
    text-decoration: none;
    color: #30b683;
    font-size: 20px;
  }
  .main {
    display: flex;
  }
  .right {
    height: 700px;
    background-color: #ececec;
    width: 100%;
  }
  .heading-white {
    text-decoration: underline;
    padding-left: 10px;
    padding-top: 16px;
  }
  h3,h2 {
    font-weight: 100;
    font-size: 20px;
  }
  /* Box analysis */
  .box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .box1 {
    height: 150px;
    width: 24.5%;
    background-color: #0ace82;
    text-align: center;
    color: white;
  }
  .box2 {
    height: 150px;
    width: 24.5%;
    background-color: #a259ff;
    text-align: center;
    color: white;
  }
  .box3 {
    height: 150px;
    width: 24.5%;
    background-color: #f34e1e;
    text-align: center;
    color: white;
  }
  .box4 {
    height: 150px;
    width: 24.5%;
    background-color: #19bdfc;
    text-align: center;
    color: white;
  }
  /* Circle Analysis  */
  .circle {
    display: flex;
    padding-top: 130px;
    padding-left: 66px;
    justify-content: space-between;
  }
  .circle-1 {
    height: 200px;
    width: 200px;
    background-color: #a259ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .innercircle-1 {
    height: 120px;
    width: 120px;
    background-color: #0ace82;
    border-radius: 50%;
    align-self: center;
    text-align: center;
  }
  .circle-text-1 {
    padding-top: 30px;
    color: white;
  }
  .circle-2 {
    height: 200px;
    width: 200px;
    background-color: #19bafe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .innercircle-2 {
    height: 180px;
    width: 180px;
    background-color: #ffffff;
    border-radius: 50%;
    align-self: center;
    text-align: center;
  }
  .circle-text-2 {
    padding-top: 60px;
    color: black;
  }
  .circle-3 {
    height: 200px;
    width: 200px;
    background-color: #ee531a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .innercircle-3-1 {
    height: 180px;
    width: 180px;
    background-color: #ff7261;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  .innercircle-3-2 {
    height: 80px;
    width: 80px;
    background-color: #a259ff;
    border-radius: 50%;
    align-self: center;
    text-align: center;
  }
  .circle-text-3 {
    padding-top: 6px;
    color: white;
  }
  /* Bar diagream */
  .bar {
    height: 200px;
    width: 254px;
    background-color: #ececec;
    border-bottom: 10px #625b5b;
    display: flex;
    margin-right: 30px;
  }
  .bar-1 {
    margin-top: 10px;
    height: 195px;
    width: 15px;
    background-color: rgb(9, 207, 130);
  }
  .bar-2 {
    margin-top: 80px;
    margin-left: 20px;
    height: 125px;
    width: 15px;
    background-color: rgb(243, 79, 28);
  }
  .bar-3 {
    margin-top: 50px;
    margin-left: 20px;
    height: 155px;
    width: 15px;
    background-color: rgb(162, 89, 254);
  }
  .bar-4 {
    margin-top: 140px;
    height: 65px;
    width: 15px;
    background-color: rgb(27, 187, 249);
    margin-left: 20px;
  }
  .bar-5 {
    margin-top: 30px;
    margin-left: 20px;
    height: 175px;
    width: 15px;
    background-color: rgb(99, 93, 93);
  }
  .bar-6 {
    margin-top: 170px;
    margin-left: 20px;
    height: 35px;
    width: 15px;
    background-color: rgb(254, 115, 96);
  }